body{
    text-align: center;
}

   #big_wrapper{ 
    background-color: aliceblue;
    width: 1000px;
    border: 1px solid black;
    text-align:left;
    margin: auto;
   }
    
   #navigation{
    background-color: rgb(148, 130, 130);
 
    }
#navigation li{
    display: inline-block;
    list-style: none;
    text-align:left;
    line-height: 2em; 
    font-size: 25px;
    color:cornsilk;
    
}
#navigation li a{
    
    margin:5px;
    padding:0em 1em;
    text-decoration:none;
    
}
#navigation li a:hover{
    background-color: indianred;
    


}
.article{
    border: 1px solid forestgreen;
}

#article1 {
    padding:5px 0px 0px 0px;
    margin: 20px 5px 0px 0px;
    background-color: rgb(128, 128, 128);
}
#article2 {
    padding:5px 0px 0px 0px;
    margin: 20px 5px 0px 0px;
    background-color: #74746c;

}
#article3 {
    padding:5px 0px 0px 0px;
    margin: 20px 5px 0px 0px;
    background-color: #949484;

}

#niall{
    border-bottom: 2px solid brown;
    background-color: rgb(68, 141, 146);
}
#harry{
    border-bottom: 2px solid brown;
    background-color: cadetblue;
}
#louis{
    border-bottom: 2px solid brown;
    background-color: rgb(70, 167, 167);
}
#liam{
    border-bottom: 2px solid brown;
    background-color: rgb(126, 196, 196);
}
img{
    border: 1px dotted black;
    padding:2px;
    display: inline-block;

    margin: 10px}